table {
    margin: 5px;
    padding: 5px;
    border: 3px outset #22CC55;
    margin-left: auto;
    margin-right: auto;
    background-color: #22BB33;
    opacity: 0.7;
    border-radius: 10px;
}

body {
    background-image: url("bg/09_image.jpg");
}
            
td {
    margin: 5px;
    padding: 5px;
}
            
#orderFormStyle {
    text-align: center;
    text-shadow: 3px 2px #00ff11;
}
            
#errorCodeFirstName {
    color: #DD0033;
    position: absolute;
    top: 90px;
    left: 970px;
}
            
#errorCodeLastName {
    color: #DD0033;
    position: absolute;
    top: 120px;
    left: 970px;
}
            
#errorCodeAddress {
    color: #DD0033;
    position: absolute;
    top: 151px;
    left: 970px;
}
            
#errorCodeCity {
    color: #DD0033;
    position: absolute;
    top: 183px;
    left: 970px;
}
            
#errorCodePostalCode {
    color: #DD0033;
    position: absolute;
    top: 246px;
    left: 970px;
}
            
#errorCodeWidget {
    color: #DD0033;
    position: absolute;
    top: 330px;
    left: 970px;
}
            
#btnSubmit {
    text-align: center;
}

#btnReset {
    text-align: center;   
}